# root PG user
PG_USER=""
# root PG user pwd
PG_PWD=""
#PG_DB=""
PG_PORT=""
PG_CONTAINER_NAME=""

MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""
MYSQL_PORT=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_CONTAINER_NAME=""